# Add this line to allow pip to find the correct wheel files
-f https://download.pytorch.org/whl/torch_stable.html

torch==2.4.0+cu121
torchvision==0.19.0+cu121
triton
numpy
pandas
matplotlib
tqdm
tensorboard
torch_tb_profiler
rich
colorama